<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~bl537804/dig4530c/SSC_WP/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~bl537804/dig4530c/SSC_WP/index.php [L]
</IfModule>
